.movie-card {
  width: 100%;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    overflow: hidden;
    transition: all linear 0.3s;

    &:hover div {
      transform: translateY(0);
      background-color: rgba($color: #808080, $alpha: 0.8);
    }
  }

  &__bg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
    transform: translateY(-100%);
    transition: all linear 0.3s;
  }
  @media (hover: none) {
    &__bg {
      transform: translateY(0);
      height: max-content;
      color: $primary-color;
      padding: 32px 18px 12px 18px;
      text-shadow: 1px 1px #000;
      background: linear-gradient(
        0deg,
        rgba(45, 45, 45, 0.85) 0%,
        rgba(58, 58, 58, 0.77) 47%,
        rgba(28, 28, 28, 0) 100%
      );

    }
    &__description{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
    }
    &__image {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    &-title {
      font-size: 20px;
    }

    &-year {
      font-size: 16px;
      color: $highlight-alt;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    .star > svg {
      fill: $amber;
    }

    .heart-filled > svg {
      fill: $red;
    }

    &-count {
      color: $highlight-alt;
    }
  }
}
