$bg-color: #2b2f34;
$primary-color: #fefefe;
$secondary-color: #48cfad;
$highlight-color: #40b89a;
$border-color :#424953;
$highlight-alt: #858686;
$mild-grey: #d8d8d8;
$green: #1c8d18;
$amber: #dabc37;
$red: #da2828;