@import "variables";
@import "vendor";
@import "./components/header";
@import "./components/search";
@import "./components/movieCard";
@import "./components/cardsList";


body {
  background-color: $bg-color;
  color: $primary-color;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
